:root {
  --bg-color: rgb(239, 239, 239);
  --container-bg-color: rgb(255, 255, 255);
  --bright-text: rgb(255, 255, 255);
  --gray: rgb(153, 153, 153);
  --dark-gray: rgb(51, 51, 51);
  --red: rgb(255, 66, 78);
  --btn-color: rgb(255, 66, 78);
  --clicked-btn-color: rgb(245, 66, 78);
  --text-color: rgb(36, 36, 36);
  --tiki-blue: rgb(11, 116, 229);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  background: var(--bg-color);
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  opacity: 0.95;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  border: 1px solid rgb(196, 196, 207);
  border-radius: 4px;
  vertical-align: middle;
  color: rgb(196, 196, 207);
  background: transparent;
  cursor: pointer;
}

input[type='checkbox']:checked {
  border-color: var(--tiki-blue);
  background-color: var(--tiki-blue);
}

/* Class */
.main-container {
  padding: 0 12px;
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
}

/* Main title */
.title {
  padding: 20px 0;
}

.title h4 {
  font-size: 20px;
  text-transform: uppercase;
}

/* Shopping container layout */
.shopping-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-col {
  /* width: 72%; */
  flex: 1 1 70%;
}

.right-col {
  /* width: 26%; */
  flex: 1 1 26%;
  margin-left: 20px;
}

/* Product cart col layout */
.product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col1 {
  width: 45%;
}

.col2 {
  width: 20%;
}

.col3 {
  width: 15%;
}

.col4 {
  width: 15%;
}

.col5 {
  width: 5%;
}

/* Reuseable styles */
.box {
  padding: 8px 16px;
  min-height: 20px;
  border-radius: 4px;
  background-color: var(--container-bg-color);
}

.sbt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 36px;
  margin-bottom: 12px;
}

.gray-h {
  font-weight: bold;
  color: var(--gray);
  font-size: 1.1rem;
}

.darkgray-l {
  color: var(--dark-gray);
  font-size: 1rem;
}

.darkgray-l-s {
  display: block;
  color: var(--dark-gray);
  font-size: 0.8rem;
}

.black-h {
  font-weight: bold;
  color: var(--text-color);
}

.sbt-line {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  padding: 16px 4px;
}

/* Cart */
.cart-heading {
  position: sticky;
  margin-bottom: 12px;
}

.cart-content {
  height: auto;
  max-height: 440px;
  overflow: auto;
}

.seller-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 8px 0;
}

#product-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.product-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.product-col-title {
  width: 95%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 95%;
}

.product-img {
  width: 80px;
  height: 80px;
}

.product-info {
  flex-grow: 1;
}

.product-info p {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 13px;
  color: var(--text-color);
  margin-bottom: 5px;
  line-height: 20px;
}

.product-info p:hover {
  color: var(--tiki-blue);
}

.dc-price {
  display: inline-block;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 4px;
}

.df-price {
  color: var(--gray);
  display: inline-block;
  font-size: 0.7rem;
}

.fn-price {
  display: block;
  color: var(--red);
  font-weight: bold;
}

/* Delivery */
.delivery {
  margin-bottom: 12px;
}

.customer-address {
  font-weight: bold;
}

/* Discount */
.discount {
  margin-bottom: 12px;
}

.discount-counting {
  color: var(--gray);
  display: flex;
  align-items: center;
}

.discount-counting svg {
  margin-left: 4px;
}

.more-discount {
  padding: 8px 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: var(--tiki-blue);
  font-size: 0.9rem;
  line-height: 1.2rem;
  cursor: pointer;
}

/* Price summary */
.price-summary {
  margin-bottom: 12px;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-price {
  color: var(--red);
  font-weight: bold;
  font-size: 1.5rem;
}

#freeship-tag {
  padding: 8px 0;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: bold;
}

#freeship-tag img {
  width: 80px;
  margin-right: 4px;
}

@media (max-width: 800px) {
  .main-container {
    width: 100vw;
  }

  .right-col,
  .left-col {
    flex: 1 1 100%;
    margin: 0;
  }

  .delivery {
    margin-top: 12px;
  }
}

.tiki_trade_icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.tiki-trade-link {
  display: inline-block;
  font-size: 15px;
  color: var(--text-color);
  font-weight: bold;
}
